html,
body{
    background: white;
    font-size: 16px;
    height: 0;
    width: 100%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.red-cube{
    background: #cb3234;
    position: absolute;
    margin-top: 7rem;
    height: 25rem;
    width: 80rem;
    margin-left: -0.5rem;
}

.white-box{
    position:absolute;
    width: 74rem;
    height: 19.5rem;
    background: white;
    margin-top: 10rem;
    margin-left: 2.5rem;
    border-radius: 1rem;
} 

.red-cube img{
    display: flex;
    position:relative;
    height: 16rem;
    margin: auto;
    margin-right: 10rem; 
    margin-top: 4rem;   
    text-align: end;
    width: 24rem;
    z-index: 2;
}

.text-in-red{
    text-align:start;
    position: fixed;
    margin-top: 9rem;
    margin-left: 4rem;
    font-size: 1rem;
}

.icon-txt-1{
    text-align: start;
    position:fixed;
    margin-top: 11.4rem;
    margin-left: 4rem;
    flex-wrap: wrap;
    width: 15rem;
    font-size: .7rem;
}

.icon-txt-1 .bx-scatter-chart{
    position: fixed;
    margin-left: -0.80rem;
    margin-top: 1.1rem;
}

.icon-txt-2{
    text-align: start;
    position:fixed;
    margin-top: 16.8rem;
    margin-left: 4rem;
    flex-wrap: wrap;
    width: 15rem;
    font-size: .7rem;
}

.icon-txt-2 .bx-conversation{
    position: fixed;
    margin-left: -0.80rem;
    margin-top: 1.13rem;
}

.icon-txt-3 {
    text-align: start;
    position:fixed;
    margin-top: 22rem;
    margin-left: 4rem;
    flex-wrap: wrap;
    width: 15rem;
    font-size: .7rem;
}

.icon-txt-3 .bxs-bolt{
    position: fixed;
    margin-left: -0.80rem;
    margin-top: 1.15rem;
}